@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /** LIGHT MODE COLORS **/
  --blue: #0079ff;
  --gray: #697c9a;
  --font-color: #4b6a9b;
  --lightcolor: #2b3442;
  --main-bg: #f6f8ff;
  --bg-color: #fefefe;
  --error: #f74646;
}

.darkMode {
  /** DARK MODE COLORS **/
  --main-bg: #141d2f;
  --bg-color: #1e2a47;
  --black: #222731;
  --font-color: #fff;
  --lightcolor: #fff;
}

body {
  font-family: "Space Mono", serif;
  margin: 0;
}

main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
  transition: all 500ms;
}

.container {
  width: 730px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  margin-bottom: 50px;
}
.header > h1 {
  font-size: 26px;
  font-weight: bold;
  color: var(--lightcolor);
}
button.switch-mode {
  outline: none;
  border: none;
  background: transparent;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  color: var(--lightcolor);
  font-weight: bold;
}
button.switch-mode:hover {
  color: var(--lightcolor);
  cursor: pointer;
}

.switch-icon > svg {
  background-color: var(--lightcolor);
}
button.switch-mode > span {
  margin: 0 15px;
}

.search-bar {
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 15px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 19.86%);
  margin: 0 0 25px 0;
}

.search-bar > img {
  margin-left: 25px;
}

.search-bar > input {
  flex-grow: 0.85;
  height: 40px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: "Space Mono", serif;
  outline: none;
  background-color: transparent;
  color: var(--font-color);
  caret-color: var(--blue);
}
.search-bar > input::placeholder {
  color: var(--font-color);
}
span#search-error {
  color: var(--error);
  font-size: 15px;
  font-weight: bold;
  margin: 0 20px;
}
.search-bar > button {
  margin-right: 10px;
  background-color: var(--blue);
  color: #fff;
  border: none;
  width: 106px;
  height: 50px;
  border-radius: 10px;
  font-family: "Space Mono", serif;
  font-family: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

.search-bar > button:hover {
  background-color: #60abff;
}

.card {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  border-radius: 15px;
  background-color: var(--bg-color);
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 19.86%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card-avatar {
  margin: 0px 50px;
  /* flex-basis: 40%; */
  margin-top: 50px;
}
.card-avatar-content {
  display: flex;
}
.card-avatar-content > img {
  width: 117px;
  border-radius: 50%;
}
.card-content {
  margin-top: 35px;
  margin-right: 35px;
}

.card-header {
  width: 100%;
  margin: 0 0 4px 0;
  margin-left: 35px;
}
.card-header-content {
  display: flex;
  justify-content: space-between;
}
.card-date {
  font-size: 15px;
  color: var(--lightcolor);
  margin-top: 10px;
}
.card-title {
  margin: 0;
  font-size: 26px;
  color: var(--lightcolor);
}
.card-subtitle {
  margin: 0 0 15px 0;
  color: var(--blue);
}
.card-description {
  margin: -40px 0 0 155px;
  font-size: 15px;
  font-weight: 500;
  color: var(--font-color);
}
.card-information {
  background-color: var(--main-bg);
  height: 85px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0 0 35px 0;
}
.card-information-content {
  margin: 0 40px;
}
.card-information-title {
  font-size: 13px;
  font-weight: 500;
  color: var(--font-color);
}
.card-information-subtitle {
  font-size: 22px;
  font-weight: bold;
  color: var(--lightcolor);
}
.card-social {
  display: grid;
  gap: 10px;
  gap: 5px 10px; /* row-gap column gap */
  row-gap: 15px;
  column-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}
.card-social-content {
  display: flex;
  align-items: center;
}
.card-social-content > span {
  font-size: 15px;
  color: var(--font-color);
  margin: 0 20px;
}
.card-social-content > img {
  color: var(--lightcolor);
}
.card-social-content > span > a,
.card-social-content > span > a:visited {
  text-decoration: none;
  color: var(--font-color);
}

.repo-link {
  width: 175px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.github-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .container {
    width: 573px;
  }

  .card {
    height: auto;
    padding-bottom: 40px;
  }
  .card-avatar {
    margin-top: 0;
    padding-top: 50px;
  }
  .card-header-content {
    display: block;
  }
  .card-date {
    margin-top: -10px;
  }
  .card-description {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 327px;
  }
  .card {
    height: auto;
    padding-bottom: 40px;
  }
  .card-avatar {
    margin-top: 0;
    padding-top: 35px;
    margin-left: 20px;
    margin-right: 0;
  }
  .card-avatar-content > img {
    width: 70px;
  }
  .card-header {
    width: 100%;
    margin: 0 0 4px 0;
    margin-left: 20px;
  }
  .card-title {
    font-size: 16px;
  }
  .card-subtitle {
    margin: 0 0 15px 0;
    font-size: 13px;
  }
  .card-date {
    font-size: 13px;
  }
  .card-description {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 13px;
  }

  .card-content {
    margin-top: 35px;
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-information {
    margin: 0 0 20px 0;
    width: 279px;
  }

  .card-information-content {
    margin: 0 20px;
  }
  .card-information-title {
    font-size: 11px;
  }
  .card-information-subtitle {
    font-size: 16px;
  }
  .card-social {
    display: block;
    margin-bottom: 0;
    margin-left: -50px;
  }
  .card-social-content > span {
    font-size: 13px;
  }
  .card-social-content {
    margin-bottom: 10px;
  }
  .search-bar > input,
  .search-bar > input::placeholder {
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .search-bar > img {
    width: 20px;
    margin-left: 15px;
    margin-right: 6px;
  }
  .search-bar > button {
    width: 80px;
    height: 46px;
  }
}
